services:
  redis-dev:
    image: redis:latest
    container_name: redis-dev
    ports:
      - "6379:6379"
    networks:
      - redis-network
    volumes:
      - redis-data:/data

  redisinsight-dev:
    image: redis/redisinsight:latest
    container_name: redisinsight-dev
    ports:
      - "5540:5540"
    networks:
      - redis-network
    depends_on:
      - redis-dev

networks:
  redis-network:
    driver: bridge

volumes:
  redis-data: