.list {
  list-style-type: none;
  margin-left: 16px;
}

.scripts {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: var(--off-white);
  padding: 16px;
}

.scripts:hover {
  background-color: var(--very-light-gray);
}