.header {
  display: flex;
  gap: 8px;
}

.split_card_list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1.5rem; 
}

@media (min-width: 640px) {
  .split_card_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1024px) {
  .split_card_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .split_card_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1536px) {
  .split_card_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

